@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* HEADER */

.main-header .logo {
    font-family: Lobster;
    font-size: 30px;
}

li.dropdown>a {
    padding-top: 12px;
    padding-bottom: 5px;
}